@import "variables.scss";

.footer{
    background-color: $footer-background-color;
    @include linear-interpolation-chain(padding-bottom, $footer-paddings);
    @include linear-interpolation-chain(padding-top, $footer-paddings);
    color: $color-secondary;
}

.footer__container{
    @include container;
    flex-direction: column;
    align-items: center;
}

.footer__content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(80);
    flex-wrap: wrap;
}

.footer__logo{
    width: rem(260);
    height: rem(84.1);
    margin-bottom: rem(20);
    margin-left: auto;
    margin-right: auto;
    @include media($footer-col-breakpoint){
        margin-left: 0;
    }
}

.footer__col{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    margin-bottom: rem(40);

    @include media($footer-col-breakpoint){
        width: 30%;

    }

    &--push{
        @include media($footer-col-breakpoint){
            padding-top: rem(20);
        }
    }

}

.footer__icons{
    @include linear-interpolation-chain(font-size, $footer-icon-sizes);
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.footer__icon{
    height: 1em;
    width: 1em;
    &:not(:last-child){
        margin-right: 0.5em;
    }
}

.footer__map{
    width: 100%;
    height: 100%;
    min-height: rem(300);
}

.footer__line{
    width: 100%;
    max-width: rem(500);
    margin-bottom: 1em;
    text-align: center;

    @include media($footer-col-breakpoint){
        text-align: left;
    }



    a{
        color: $color-terciary-light;
    }
}



