@import "variables.scss";

.advantages{
    @include linear-interpolation-chain(padding-top, $advantages-paddings);
    @include linear-interpolation-chain(padding-bottom, $advantages-paddings);
    background-image: url('../img/bg_navi.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.advantages__container{
    @include container;
    flex-direction: column;
    align-items: stretch;
}

.advantages__paragraph{
    margin-bottom: 3em;
    max-width: rem(800);
    margin-left: auto;
    margin-right: auto;
}
