@import "variables.scss";

.references{
    background-color: #f6f6f6;
    padding: rem(80) 0;
}

.references__wrapper{
    @include container;
    flex-direction: column;
    align-items: flex-start;

}

.references__heading{
    width: 100%;
    color: $color-primary;
    text-align: center;
    margin-bottom: 2em;
}

.references__group{
    width: 100%;
    display: none;

    &--visible{
        display: block;
    }

}

.references__item{
    display: flex;
    width: 100%;
    margin-bottom: rem(100);
    flex-direction: column;

    @include media($references-breakpoint){
        flex-direction: row;
    }
}

.references__image{
    max-width: rem(450);
    width: 100%;
    margin-bottom: rem(40);
    margin-right: rem(40);
    flex-shrink: 0;
    background-color: $color-terciary;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    @include material-box-shadow(8);
    cursor: pointer;
    @include media($references-breakpoint){
        max-width: none;
        width: rem(350);
        margin-bottom: rem(0);
        transition-property: transform, box-shadow;
        transition-duration: 500ms;
        transition-timing-function: ease;
        &:hover{
            @include material-box-shadow(16);
            transform: scale(1.1);
            & + .references__content{
                transform: translateX(rem(50));
            }
        } 
    }

}

.references__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition-property: transform;
    transition-duration: 500ms;
    transition-timing-function: ease;
}

.references__name{
    font-weight: bold;
    @include fluid-font(m);
    margin-bottom: 1em;
}

.references__text{
    color: $color-primary;
}

.references__see-more{
    margin-left: auto;
    margin-right: auto;
    color: $color-secondary;
    @include fluid-font(m);
    background-color: $color-terciary;
    font-weight: 300;
    padding: 0.6em 1em;
    text-align: center;
    display: inline-block;
    @include material-box-shadow($overlay-shadow-depth);
    cursor: pointer;
    transition: box-shadow 500ms;
    margin-top: rem(15);
    &:hover{
        @include material-box-shadow(2 * $overlay-shadow-depth);
    }

    &--hidden{
        display: none;
    }
}

.references__link{
    color: $color-terciary;
}