@import "variables.scss";

.contacts{
    overflow: hidden;
    position: relative;
    background-image: url(../img/bg_contact.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: rem(80) 0;
}

.contacts__container{
    @include container;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.contacts__heading{
    margin-bottom: 1.5em;
}

.contacts__form{
    width: 100%;
    outline: none;
}

.contacts__map{
    width: 100%;
    height: 70vh;
    max-height: rem(500);
    @include border-radius(rem(3));
}