@import "variables.scss";

.showroom{
    overflow: hidden;
    position: relative;
    background-image: url(../img/bg_showroom.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: rem(80) 0; 
    @include media(l){ 
        padding:0;
    }
}

.showroom__parallax{
    display: block;
    width: 200%;
}
.showroom__container{
    @include container;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.showroom__col{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @include media(l){
        align-items: flex-start;
        width: 48%;
    }
    &--hidden{
        display: none;
        @include media(l){
            display: block;
        }
    }
    &--full{
        width: 100%;
        align-items: center;
    }

}

.showroom__arrow{
    position: absolute;
    top: 200%;
    left: 0;
    right: 0;
    margin: auto;
    width: rem(100);
    animation: float 2s ease-in-out infinite;
}

.showroom__paragraph{
    width: 100%;
    max-width: rem(500);
    font-weight: 300;
    margin-bottom: 2em;
    text-align: center;
    @include media(l){
        text-align: left;
    }
}

.showroom__link{
    position: relative;
    color: $color-secondary;
    @include fluid-font(m);
    background-color: $color-terciary-light;
    font-weight: 300;
    padding: 0.6em 1em;
    text-align: center;
    cursor: pointer;
    margin-top: 2em;
    text-decoration: none;
    @include material-box-shadow(8);
    transition: box-shadow 500ms;

    &:hover{
        @include material-box-shadow(16);
    }
}


