/*@import "material/buttons.scss";*/
@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=latin-ext");
html {
  font-family: "Roboto", Verdana, sans-serif;
  min-height: 100vh;
  font-size: 100%; }

*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #000000;
  overflow-x: hidden; }

.body--lock {
  overflow: hidden; }

.heading {
  font-weight: bold;
  font-style: normal;
  color: #ffffff; }
  .heading--regular {
    font-weight: normal; }
  .heading--italic {
    font-style: italic; }
  .heading--thin {
    font-weight: 300; }
  .heading--center {
    text-align: center; }

.heading--1 {
  font-size: calc(1.1363636364vw + 2.0227272727rem);
  margin-top: 0;
  margin-bottom: 0.5em; }
  @media (min-width: 75em) {
    .heading--1 {
      font-size: 2.875rem; } }

.heading--2 {
  font-size: calc(0.6818181818vw + 1.7386363636rem);
  margin-top: 0;
  margin-bottom: 0.5em; }
  @media (min-width: 75em) {
    .heading--2 {
      font-size: 2.25rem; } }

.heading--3 {
  font-size: calc(0.4545454545vw + 1.2840909091rem);
  margin-top: 0;
  margin-bottom: 0.5em; }
  @media (min-width: 75em) {
    .heading--3 {
      font-size: 1.625rem; } }

.heading--4 {
  font-size: calc(0.4545454545vw + 1.0340909091rem);
  margin-top: 0;
  margin-bottom: 0.5em; }
  @media (min-width: 75em) {
    .heading--4 {
      font-size: 1.375rem; } }

.heading--5 {
  font-size: calc(0.2272727273vw + 0.9545454545rem);
  margin-top: 0;
  margin-bottom: 0.5em; }
  @media (min-width: 75em) {
    .heading--5 {
      font-size: 1.125rem; } }

.heading--6 {
  font-size: calc(0.2272727273vw + 0.9545454545rem);
  margin-top: 0;
  margin-bottom: 0.5em; }
  @media (min-width: 75em) {
    .heading--6 {
      font-size: 1.125rem; } }

.paragraph {
  font-size: calc(0.2272727273vw + 0.9545454545rem);
  display: block;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 1em;
  color: #ffffff; }
  @media (min-width: 75em) {
    .paragraph {
      font-size: 1.125rem; } }
  .paragraph--center {
    text-align: center; }

.ratio-keeper {
  display: block;
  width: 100%; }

.ratio-keeper-v {
  display: block;
  height: 100%; }

.header {
  z-index: 500;
  position: fixed;
  width: 100%;
  height: calc(2.2727272727vw + 3.2954545455rem);
  box-shadow: 0 0.089673913rem 0.2201086957rem -0.0190217391rem rgba(0, 0, 0, 0.2), 0 0.125rem 0.1630434783rem 0.0081521739rem rgba(0, 0, 0, 0.14), 0 0.1440217391rem 0.1847826087rem -0.0380434783rem rgba(0, 0, 0, 0.12);
  background-color: #ffffff; }
  @media (min-width: 75em) {
    .header {
      height: 5rem; } }

.header__container {
  display: flex;
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(1.7857142857vw + 0.5803571429rem);
  padding-right: calc(1.7857142857vw + 0.5803571429rem);
  height: 100%;
  align-items: center; }
  @media (min-width: 37.5em) {
    .header__container {
      padding-left: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .header__container {
      padding-left: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 75em) {
    .header__container {
      padding-left: 2.5rem; } }
  @media (min-width: 37.5em) {
    .header__container {
      padding-right: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .header__container {
      padding-right: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 75em) {
    .header__container {
      padding-right: 2.5rem; } }

.header__menu {
  margin-left: auto;
  height: 100%; }

.logo {
  display: block;
  width: calc(5.6818181818vw + 9.4886363636rem);
  height: calc(1.7vw + 2.840625rem); }
  @media (min-width: 75em) {
    .logo {
      width: 13.75rem; } }
  @media (min-width: 75em) {
    .logo {
      height: 4.115625rem; } }

.logo__object {
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; }

.logo__object--left {
  animation-name: logo-left; }

.logo__object--text {
  animation-name: logo-text; }

.logo__object--right {
  animation-name: logo-right; }

@keyframes logo-left {
  0%,43.5% {
    transform: translate(0px, 0px); }
  48.5%,51.5% {
    transform: translate(-77px, -40px); }
  56.5%,100% {
    transform: translate(0px, 0px); } }
@keyframes logo-right {
  0%,43.5% {
    transform: translate(0px, 0px); }
  48.5%,51.5% {
    transform: translate(77px, -40px); }
  56.5%,100% {
    transform: translate(0px, 0px); } }
@keyframes logo-text {
  0%,43.5% {
    transform: translate(0px, 0px); }
  48.5%,51.5% {
    transform: translate(45px, 0px); }
  56.5%,100% {
    transform: translate(0px, 0px); } }
.main {
  flex-grow: 1; }

#menu-trigger {
  display: none; }
  #menu-trigger:checked ~ .menu__container {
    transform: translateX(0%); }

.menu {
  display: flex;
  align-items: center; }

.menu__label {
  display: block;
  cursor: pointer;
  margin-left: auto; }
  @media (min-width: 56.25em) {
    .menu__label {
      display: none; } }

.menu__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  transform: translateX(-100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 500ms; }
  @media (min-width: 56.25em) {
    .menu__container {
      flex-direction: row;
      width: auto;
      transform: translateX(0);
      position: relative; } }

.menu__container__header {
  display: block;
  display: flex;
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(1.7857142857vw + 0.5803571429rem);
  padding-right: calc(1.7857142857vw + 0.5803571429rem);
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(2.2727272727vw + 3.2954545455rem); }
  @media (min-width: 37.5em) {
    .menu__container__header {
      padding-left: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .menu__container__header {
      padding-left: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 75em) {
    .menu__container__header {
      padding-left: 2.5rem; } }
  @media (min-width: 37.5em) {
    .menu__container__header {
      padding-right: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .menu__container__header {
      padding-right: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 75em) {
    .menu__container__header {
      padding-right: 2.5rem; } }
  @media (min-width: 75em) {
    .menu__container__header {
      height: 5rem; } }
  @media (min-width: 56.25em) {
    .menu__container__header {
      display: none; } }

.menu__item {
  display: inline-flex;
  align-items: center;
  position: relative;
  text-decoration: none;
  color: #000000;
  font-size: calc(0.4545454545vw + 1.2840909091rem); }
  @media (min-width: 75em) {
    .menu__item {
      font-size: 1.625rem; } }
  .menu__item:not(:last-of-type) {
    margin-bottom: 1em; }
  @media (min-width: 56.25em) {
    .menu__item {
      height: 100%;
      font-size: calc(0.2272727273vw + 0.9545454545rem); } }
  @media (min-width: 56.25em) and (min-width: 75em) {
    .menu__item {
      font-size: 1.125rem; } }
  @media (min-width: 56.25em) {
      .menu__item:not(:last-of-type) {
        margin-bottom: 0;
        margin-right: 2em; } }
  .menu__item:hover, .menu__item--active {
    color: #20a70c; }

.menu__item--line {
  display: none;
  width: 100%;
  height: 0.2em;
  background-color: #20a70c;
  position: absolute;
  bottom: 0%;
  left: 0;
  transform: scale(0, 1);
  transform-origin: center center;
  transition: transform 500ms; }
  .menu__item--active .menu__item--line {
    transform: scale(1, 1); }
  .menu__item:hover .menu__item--line {
    transform: scale(1, 1); }
  @media (min-width: 56.25em) {
    .menu__item--line {
      display: block; } }

.hamburger {
  display: block;
  width: calc(1.7045454545vw + 1.8465909091rem);
  height: calc(1.7045454545vw + 1.8465909091rem); }
  @media (min-width: 75em) {
    .hamburger {
      width: 3.125rem; } }
  @media (min-width: 75em) {
    .hamburger {
      height: 3.125rem; } }
  .hamburger:hover .hamburger__path {
    fill: #20a70c; }
  .hamburger__path {
    fill: #000000;
    transition: fill 500ms; }

.carousel {
  height: 100vh;
  max-height: 50rem;
  padding-top: calc(2.2727272727vw + 3.2954545455rem); }
  @media (min-width: 75em) {
    .carousel {
      padding-top: 5rem; } }

.carousel__container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%; }

.carousel__background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition-property: opacity;
  transition-timing-function: ease-in;
  transition-duration: 500ms; }
  .carousel__background--active {
    opacity: 1; }
  .carousel__background--0 {
    background-image: url("../img/carousel-1-xl@2x.jpg"); }
  .carousel__background--1 {
    background-image: url("../img/carousel-2-xl@2x.jpg"); }
  .carousel__background--2 {
    background-image: url("../img/carousel-3-xl@2x.jpg"); }

.overlay {
  display: flex;
  width: 100%;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  z-index: 10; }

.overlay__container {
  display: flex;
  background-color: rgba(32, 167, 12, 0.45);
  margin-left: auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding-left: calc(6.6666666667vw - 1.25rem);
  padding-right: calc(6.6666666667vw - 1.25rem);
  height: 100%;
  width: 100%;
  text-align: center; }
  @media (min-width: 75em) {
    .overlay__container {
      padding-left: 3.75rem; } }
  @media (min-width: 75em) {
    .overlay__container {
      padding-right: 3.75rem; } }
  @media (min-width: 56.25em) {
    .overlay__container {
      text-align: left;
      width: calc(33.3333333333vw + 12.5rem);
      background-color: rgba(32, 167, 12, 0.88); } }
  @media (min-width: 56.25em) and (min-width: 75em) {
    .overlay__container {
      width: 37.5rem; } }

.overlay__heading {
  width: 100%;
  margin-bottom: 1.875rem; }
  .overlay__heading--push {
    margin-top: auto; }
    @media (min-width: 56.25em) {
      .overlay__heading--push {
        margin-top: 0; } }

.overlay__link {
  color: #ffffff;
  font-size: calc(0.4545454545vw + 1.2840909091rem);
  background-color: #57c500;
  font-weight: 300;
  padding: 0.6em;
  text-align: center;
  display: inline-block;
  box-shadow: 0 0.2527173913rem 0.4157608696rem -0.1331521739rem rgba(0, 0, 0, 0.2), 0 0.5rem 0.7663043478rem 0.0570652174rem rgba(0, 0, 0, 0.14), 0 0.2581521739rem 0.9184782609rem 0.1086956522rem rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: box-shadow 500ms;
  text-decoration: none;
  margin-top: 0.9375rem;
  align-self: center; }
  @media (min-width: 75em) {
    .overlay__link {
      font-size: 1.625rem; } }
  .overlay__link:hover {
    box-shadow: 0 0.4701086957rem 0.6766304348rem -0.285326087rem rgba(0, 0, 0, 0.2), 0 1rem 1.5706521739rem 0.1222826087rem rgba(0, 0, 0, 0.14), 0 0.410326087rem 1.8967391304rem 0.3043478261rem rgba(0, 0, 0, 0.12); }
  .overlay__link--plain {
    padding: 0;
    margin: 0;
    background-color: transparent;
    box-shadow: none; }
    .overlay__link--plain:hover {
      box-shadow: none; }
  @media (min-width: 56.25em) {
    .overlay__link {
      align-self: stretch; } }

.overlay__arrow {
  width: 12.5rem;
  align-self: center;
  margin-top: auto;
  animation: float 2s ease-in-out infinite; }
  @media (min-width: 56.25em) {
    .overlay__arrow {
      margin-top: 3.75rem; } }

@keyframes float {
  0% {
    transform: translatey(0rem); }
  50% {
    transform: translatey(-1.25rem); }
  100% {
    transform: translatey(0rem); } }
.advantages {
  padding-top: calc(2.2727272727vw + 4.5454545455rem);
  padding-bottom: calc(2.2727272727vw + 4.5454545455rem);
  background-image: url("../img/bg_navi.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  @media (min-width: 75em) {
    .advantages {
      padding-top: 6.25rem; } }
  @media (min-width: 75em) {
    .advantages {
      padding-bottom: 6.25rem; } }

.advantages__container {
  display: flex;
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(1.7857142857vw + 0.5803571429rem);
  padding-right: calc(1.7857142857vw + 0.5803571429rem);
  flex-direction: column;
  align-items: stretch; }
  @media (min-width: 37.5em) {
    .advantages__container {
      padding-left: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .advantages__container {
      padding-left: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 75em) {
    .advantages__container {
      padding-left: 2.5rem; } }
  @media (min-width: 37.5em) {
    .advantages__container {
      padding-right: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .advantages__container {
      padding-right: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 75em) {
    .advantages__container {
      padding-right: 2.5rem; } }

.advantages__paragraph {
  margin-bottom: 3em;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto; }

.comfort {
  background-color: #ffffff;
  padding-top: calc(3.4090909091vw + 2.4431818182rem);
  margin-bottom: calc(-6.8181818182vw - 1.1363636364rem); }
  @media (min-width: 75em) {
    .comfort {
      padding-top: 5rem; } }
  @media (min-width: 75em) {
    .comfort {
      margin-bottom: -6.25rem; } }

.comfort__container {
  display: flex;
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(1.7857142857vw + 0.5803571429rem);
  padding-right: calc(1.7857142857vw + 0.5803571429rem);
  flex-direction: column;
  align-items: stretch; }
  @media (min-width: 37.5em) {
    .comfort__container {
      padding-left: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .comfort__container {
      padding-left: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 75em) {
    .comfort__container {
      padding-left: 2.5rem; } }
  @media (min-width: 37.5em) {
    .comfort__container {
      padding-right: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .comfort__container {
      padding-right: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 75em) {
    .comfort__container {
      padding-right: 2.5rem; } }

.comfort__heading {
  color: #000000; }

.comfort__paragraph {
  color: #000000;
  font-weight: 300;
  margin-bottom: 4em;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto; }

.comfort__svg {
  display: block;
  width: 65%;
  margin: auto;
  max-width: 260px;
  box-shadow: 0 0.4701086957rem 0.6766304348rem -0.285326087rem rgba(0, 0, 0, 0.2), 0 1rem 1.5706521739rem 0.1222826087rem rgba(0, 0, 0, 0.14), 0 0.410326087rem 1.8967391304rem 0.3043478261rem rgba(0, 0, 0, 0.12);
  /*    @include linear-interpolation-chain(width, $comfort-svg-sizes);
      @include linear-interpolation-chain(height, $comfort-svg-sizes);*/ }

.loxone {
  background-image: url(../img/BG.svg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: calc(2.2727272727vw + 4.5454545455rem);
  padding-top: calc(9.0909090909vw + 3.1818181818rem); }
  @media (min-width: 75em) {
    .loxone {
      padding-bottom: 6.25rem; } }
  @media (min-width: 75em) {
    .loxone {
      padding-top: 10rem; } }

.loxone__container {
  display: flex;
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(1.7857142857vw + 0.5803571429rem);
  padding-right: calc(1.7857142857vw + 0.5803571429rem);
  flex-direction: column;
  align-items: center; }
  @media (min-width: 37.5em) {
    .loxone__container {
      padding-left: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .loxone__container {
      padding-left: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 75em) {
    .loxone__container {
      padding-left: 2.5rem; } }
  @media (min-width: 37.5em) {
    .loxone__container {
      padding-right: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .loxone__container {
      padding-right: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 75em) {
    .loxone__container {
      padding-right: 2.5rem; } }

.loxone__paragraph {
  color: #000000;
  font-weight: 300; }

.loxone__link {
  color: #ffffff;
  font-size: calc(0.4545454545vw + 1.0340909091rem);
  background-color: #20a70c;
  font-weight: 300;
  padding: 0.6em 1em;
  text-align: center;
  display: inline-block;
  box-shadow: 0 0.2527173913rem 0.4157608696rem -0.1331521739rem rgba(0, 0, 0, 0.2), 0 0.5rem 0.7663043478rem 0.0570652174rem rgba(0, 0, 0, 0.14), 0 0.2581521739rem 0.9184782609rem 0.1086956522rem rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: box-shadow 500ms;
  margin-top: 0.9375rem; }
  @media (min-width: 75em) {
    .loxone__link {
      font-size: 1.375rem; } }
  .loxone__link:hover {
    box-shadow: 0 0.4701086957rem 0.6766304348rem -0.285326087rem rgba(0, 0, 0, 0.2), 0 1rem 1.5706521739rem 0.1222826087rem rgba(0, 0, 0, 0.14), 0 0.410326087rem 1.8967391304rem 0.3043478261rem rgba(0, 0, 0, 0.12); }

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.services__item {
  position: relative;
  background-color: #ffffff;
  font-size: calc(0.9285714286vw + 0.0018044643rem);
  width: 100%;
  margin-bottom: 1.25rem;
  box-shadow: 0 0.1440217391rem 0.285326087rem -0.0570652174rem rgba(0, 0, 0, 0.2), 0 0.25rem 0.3641304348rem 0.0244565217rem rgba(0, 0, 0, 0.14), 0 0.1820652174rem 0.4293478261rem 0.0108695652rem rgba(0, 0, 0, 0.12);
  transition: box-shadow 500ms, transform 500ms;
  cursor: pointer; }
  @media (min-width: 37.5em) {
    .services__item {
      font-size: calc(0.4534333333vw + 0.00146875rem); } }
  @media (min-width: 56.25em) {
    .services__item {
      font-size: calc(0.3413vw - 0.02398125rem); } }
  @media (min-width: 75em) {
    .services__item {
      font-size: 0.23199375rem; } }
  .services__item:hover {
    transform: scale(1.05);
    box-shadow: 0 0.2527173913rem 0.4157608696rem -0.1331521739rem rgba(0, 0, 0, 0.2), 0 0.5rem 0.7663043478rem 0.0570652174rem rgba(0, 0, 0, 0.14), 0 0.2581521739rem 0.9184782609rem 0.1086956522rem rgba(0, 0, 0, 0.12); }
  @media (min-width: 37.5em) {
    .services__item {
      width: 49%; } }
  @media (min-width: 56.25em) {
    .services__item {
      width: 32%; } }

.services__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; }

.services__container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .services__container--svg {
    display: block;
    width: auto;
    height: 90%;
    width: 56.0005%; }

.services__heading {
  font-size: 6em;
  margin: 0;
  margin-bottom: 0.3em;
  color: #000000; }

.services__paragraph {
  height: 40%;
  color: #000000;
  font-size: 4em;
  font-weight: 300;
  line-height: 1.4;
  overflow: hidden;
  padding-right: 2em; }

#advantages:target ~ .service {
  transition-delay: 1000ms, 0s; }

.service:target {
  transform: translateY(0) translateZ(0);
  opacity: 1; }

.service__controll {
  display: none; }
  .service__controll:checked + .service__detail {
    display: flex; }

.service {
  z-index: 2000;
  background-color: red;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  padding-top: 5rem;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;
  transform: translateY(-100%) translateZ(0);
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 0s, 1000ms;
  transition-delay: 0s, 0s; }
  @media (min-width: 37.5em) {
    .service {
      padding-top: 2.5rem; } }

.service__scrollarea {
  width: 100%;
  position: static; }

.service__container {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column; }

.service__header {
  display: flex;
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(1.7857142857vw + 0.5803571429rem);
  padding-right: calc(1.7857142857vw + 0.5803571429rem);
  flex-direction: column;
  align-items: center;
  padding-bottom: 2.5rem; }
  @media (min-width: 37.5em) {
    .service__header {
      padding-left: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .service__header {
      padding-left: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 75em) {
    .service__header {
      padding-left: 2.5rem; } }
  @media (min-width: 37.5em) {
    .service__header {
      padding-right: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .service__header {
      padding-right: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 75em) {
    .service__header {
      padding-right: 2.5rem; } }

.service__back {
  display: block;
  position: fixed;
  top: 0.625rem;
  width: 90vw;
  padding: 1em 2em;
  font-size: 1.1875rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: #20a70c;
  color: #ffffff; }
  @media (min-width: 37.5em) {
    .service__back {
      width: auto;
      left: 0.625rem;
      padding: 1em 2em; } }

.service__heading {
  width: 100%;
  color: #000000; }

.service__paragraph {
  width: 100%;
  max-width: 50rem;
  margin-bottom: 2em;
  color: #000000; }

.service__menu {
  position: relative;
  z-index: 10;
  display: block;
  width: 100%;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.25rem;
  height: 4em;
  margin-bottom: -2em; }
  .service__menu--overflowing {
    padding: 0 2em; }
  .service__menu--center {
    text-align: center; }

.service__menu__arrow {
  position: absolute;
  top: 0.5rem;
  display: block;
  width: 0.9375rem;
  /*height: rem(36);*/ }
  .service__menu--center .service__menu__arrow {
    display: none; }
  .service__menu__arrow--left {
    left: 0.625rem; }
  .service__menu__arrow--right {
    right: 0.625rem; }
  .service__menu__arrow--disabled__path {
    fill: #ECECEC; }
  .service__menu__arrow__path {
    fill: #20a70c; }

.service__menu__wrapper {
  width: auto;
  max-width: 100%;
  height: 100%;
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch; }

.service__menu__container {
  height: 100%;
  display: inline-flex;
  flex-wrap: nowrap;
  padding: 0 2em; }
  .service__menu--overflowing .service__menu__container {
    padding: 0; }

.service__menu__label-wrapper {
  width: auto; }

.service__menu__item {
  width: auto;
  display: inline-flex;
  white-space: nowrap;
  align-items: center;
  cursor: pointer;
  height: 2em;
  transition-property: border-color;
  transition-duration: 300ms;
  color: #000000;
  border-bottom: 0.125rem solid transparent; }
  .service__menu__item:not(:last-child) {
    margin-right: 2em; }
  .service__menu__item--active, .service__menu__item:hover {
    border-color: #20a70c; }

.service__details {
  position: relative;
  z-index: 20;
  display: flex;
  flex-grow: 1;
  width: 100%;
  background-image: url(../img/BG.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: calc(2.2727272727vw + 2.0454545455rem);
  padding-bottom: calc(2.2727272727vw + 2.0454545455rem); }
  @media (min-width: 75em) {
    .service__details {
      padding-top: 3.75rem; } }
  @media (min-width: 75em) {
    .service__details {
      padding-bottom: 3.75rem; } }

.service__detail {
  display: flex;
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(1.7857142857vw + 0.5803571429rem);
  padding-right: calc(1.7857142857vw + 0.5803571429rem);
  display: none;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap; }
  @media (min-width: 37.5em) {
    .service__detail {
      padding-left: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .service__detail {
      padding-left: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 75em) {
    .service__detail {
      padding-left: 2.5rem; } }
  @media (min-width: 37.5em) {
    .service__detail {
      padding-right: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .service__detail {
      padding-right: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 75em) {
    .service__detail {
      padding-right: 2.5rem; } }

.service__detail__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%; }
  @media (min-width: 56.25em) {
    .service__detail__col {
      width: 48%; } }

.service__detail__heading {
  color: #20a70c; }

.service__detail__paragraph {
  color: #000000; }

.svg {
  display: block;
  width: calc(7.9545454545vw + 3.4090909091rem);
  height: calc(7.9545454545vw + 3.4090909091rem); }
  @media (min-width: 75em) {
    .svg {
      width: 9.375rem; } }
  @media (min-width: 75em) {
    .svg {
      height: 9.375rem; } }
  .svg--absolute {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 70%;
    height: 70%; }
  .svg--icon {
    width: 100%;
    height: 100%;
    fill: #ffffff;
    transition: fill 500ms; }
    .svg--icon:hover {
      fill: #57c500; }

.svg--air path {
  fill: #20a70c; }

.svg--lighting path {
  fill: #20a70c; }

.svg--remote path {
  fill: #20a70c; }

.svg--safety path {
  fill: #20a70c; }

.svg--soundsystem path {
  fill: #20a70c; }

.svg--sunblind path {
  fill: #20a70c; }

.showroom {
  overflow: hidden;
  position: relative;
  background-image: url(../img/bg_showroom.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5rem 0; }
  @media (min-width: 56.25em) {
    .showroom {
      padding: 0; } }

.showroom__parallax {
  display: block;
  width: 200%; }

.showroom__container {
  display: flex;
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(1.7857142857vw + 0.5803571429rem);
  padding-right: calc(1.7857142857vw + 0.5803571429rem);
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; }
  @media (min-width: 37.5em) {
    .showroom__container {
      padding-left: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .showroom__container {
      padding-left: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 75em) {
    .showroom__container {
      padding-left: 2.5rem; } }
  @media (min-width: 37.5em) {
    .showroom__container {
      padding-right: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .showroom__container {
      padding-right: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 75em) {
    .showroom__container {
      padding-right: 2.5rem; } }

.showroom__col {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }
  @media (min-width: 56.25em) {
    .showroom__col {
      align-items: flex-start;
      width: 48%; } }
  .showroom__col--hidden {
    display: none; }
    @media (min-width: 56.25em) {
      .showroom__col--hidden {
        display: block; } }
  .showroom__col--full {
    width: 100%;
    align-items: center; }

.showroom__arrow {
  position: absolute;
  top: 200%;
  left: 0;
  right: 0;
  margin: auto;
  width: 6.25rem;
  animation: float 2s ease-in-out infinite; }

.showroom__paragraph {
  width: 100%;
  max-width: 31.25rem;
  font-weight: 300;
  margin-bottom: 2em;
  text-align: center; }
  @media (min-width: 56.25em) {
    .showroom__paragraph {
      text-align: left; } }

.showroom__link {
  position: relative;
  color: #ffffff;
  font-size: calc(0.4545454545vw + 1.0340909091rem);
  background-color: #57c500;
  font-weight: 300;
  padding: 0.6em 1em;
  text-align: center;
  cursor: pointer;
  margin-top: 2em;
  text-decoration: none;
  box-shadow: 0 0.2527173913rem 0.4157608696rem -0.1331521739rem rgba(0, 0, 0, 0.2), 0 0.5rem 0.7663043478rem 0.0570652174rem rgba(0, 0, 0, 0.14), 0 0.2581521739rem 0.9184782609rem 0.1086956522rem rgba(0, 0, 0, 0.12);
  transition: box-shadow 500ms; }
  @media (min-width: 75em) {
    .showroom__link {
      font-size: 1.375rem; } }
  .showroom__link:hover {
    box-shadow: 0 0.4701086957rem 0.6766304348rem -0.285326087rem rgba(0, 0, 0, 0.2), 0 1rem 1.5706521739rem 0.1222826087rem rgba(0, 0, 0, 0.14), 0 0.410326087rem 1.8967391304rem 0.3043478261rem rgba(0, 0, 0, 0.12); }

.specialist {
  padding-bottom: calc(4.5454545455vw + 2.8409090909rem);
  padding-top: calc(4.5454545455vw + 2.8409090909rem);
  background-image: #ffffff; }
  @media (min-width: 75em) {
    .specialist {
      padding-bottom: 6.25rem; } }
  @media (min-width: 75em) {
    .specialist {
      padding-top: 6.25rem; } }

.specialist__container {
  display: flex;
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(1.7857142857vw + 0.5803571429rem);
  padding-right: calc(1.7857142857vw + 0.5803571429rem);
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; }
  @media (min-width: 37.5em) {
    .specialist__container {
      padding-left: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .specialist__container {
      padding-left: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 75em) {
    .specialist__container {
      padding-left: 2.5rem; } }
  @media (min-width: 37.5em) {
    .specialist__container {
      padding-right: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .specialist__container {
      padding-right: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 75em) {
    .specialist__container {
      padding-right: 2.5rem; } }

.specialist__col {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 1em; }
  @media (min-width: 56.25em) {
    .specialist__col {
      align-items: flex-start;
      width: 48%; } }
  .specialist__col--full {
    width: 100%; }

.specialist__heading {
  width: 100%;
  color: #000000; }

.specialist__paragraph {
  color: #000000;
  font-weight: 300;
  width: 100%; }

.specialist__image {
  width: 80%;
  max-width: 25rem;
  display: block;
  margin: 0 auto;
  box-shadow: 0 0.2527173913rem 0.4157608696rem -0.1331521739rem rgba(0, 0, 0, 0.2), 0 0.5rem 0.7663043478rem 0.0570652174rem rgba(0, 0, 0, 0.14), 0 0.2581521739rem 0.9184782609rem 0.1086956522rem rgba(0, 0, 0, 0.12);
  margin-bottom: 3.75rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  @media (min-width: 56.25em) {
    .specialist__image {
      margin-bottom: 0; } }

.references {
  background-color: white;
  padding: 5rem 0; }

.references__wrapper {
  display: flex;
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(1.7857142857vw + 0.5803571429rem);
  padding-right: calc(1.7857142857vw + 0.5803571429rem);
  flex-direction: column;
  align-items: flex-start; }
  @media (min-width: 37.5em) {
    .references__wrapper {
      padding-left: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .references__wrapper {
      padding-left: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 75em) {
    .references__wrapper {
      padding-left: 2.5rem; } }
  @media (min-width: 37.5em) {
    .references__wrapper {
      padding-right: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .references__wrapper {
      padding-right: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 75em) {
    .references__wrapper {
      padding-right: 2.5rem; } }

.references__heading {
  width: 100%;
  color: #000000;
  text-align: center;
  margin-bottom: 2em; }

.references__group {
  width: 100%;
  display: none; }
  .references__group--visible {
    display: block; }

.references__item {
  display: flex;
  width: 100%;
  margin-bottom: 6.25rem;
  flex-direction: column; }
  @media (min-width: 56.25em) {
    .references__item {
      flex-direction: row; } }

.references__image {
  max-width: 28.125rem;
  width: 100%;
  margin-bottom: 2.5rem;
  margin-right: 2.5rem;
  flex-shrink: 0;
  background-color: #20a70c;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0.2527173913rem 0.4157608696rem -0.1331521739rem rgba(0, 0, 0, 0.2), 0 0.5rem 0.7663043478rem 0.0570652174rem rgba(0, 0, 0, 0.14), 0 0.2581521739rem 0.9184782609rem 0.1086956522rem rgba(0, 0, 0, 0.12);
  cursor: pointer; }
  @media (min-width: 56.25em) {
    .references__image {
      max-width: none;
      width: 21.875rem;
      margin-bottom: 0rem;
      transition-property: transform, box-shadow;
      transition-duration: 500ms;
      transition-timing-function: ease; }
      .references__image:hover {
        box-shadow: 0 0.4701086957rem 0.6766304348rem -0.285326087rem rgba(0, 0, 0, 0.2), 0 1rem 1.5706521739rem 0.1222826087rem rgba(0, 0, 0, 0.14), 0 0.410326087rem 1.8967391304rem 0.3043478261rem rgba(0, 0, 0, 0.12);
        transform: scale(1.1); }
        .references__image:hover + .references__content {
          transform: translateX(3.125rem); } }

.references__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: ease; }

.references__name {
  font-weight: bold;
  font-size: calc(0.4545454545vw + 1.0340909091rem);
  margin-bottom: 1em; }
  @media (min-width: 75em) {
    .references__name {
      font-size: 1.375rem; } }

.references__text {
  color: #000000; }

.references__see-more {
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  font-size: calc(0.4545454545vw + 1.0340909091rem);
  background-color: #20a70c;
  font-weight: 300;
  padding: 0.6em 1em;
  text-align: center;
  display: inline-block;
  box-shadow: 0 0.2527173913rem 0.4157608696rem -0.1331521739rem rgba(0, 0, 0, 0.2), 0 0.5rem 0.7663043478rem 0.0570652174rem rgba(0, 0, 0, 0.14), 0 0.2581521739rem 0.9184782609rem 0.1086956522rem rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: box-shadow 500ms;
  margin-top: 0.9375rem; }
  @media (min-width: 75em) {
    .references__see-more {
      font-size: 1.375rem; } }
  .references__see-more:hover {
    box-shadow: 0 0.4701086957rem 0.6766304348rem -0.285326087rem rgba(0, 0, 0, 0.2), 0 1rem 1.5706521739rem 0.1222826087rem rgba(0, 0, 0, 0.14), 0 0.410326087rem 1.8967391304rem 0.3043478261rem rgba(0, 0, 0, 0.12); }
  .references__see-more--hidden {
    display: none; }

.references__link {
  color: #20a70c; }

.loxone-premium {
  background-image: url(../img/BG.svg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: calc(5.6818181818vw + 3.8636363636rem);
  padding-top: calc(5.6818181818vw + 3.8636363636rem); }
  @media (min-width: 75em) {
    .loxone-premium {
      padding-bottom: 8.125rem; } }
  @media (min-width: 75em) {
    .loxone-premium {
      padding-top: 8.125rem; } }

.loxone-premium__container {
  display: flex;
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(1.7857142857vw + 0.5803571429rem);
  padding-right: calc(1.7857142857vw + 0.5803571429rem);
  flex-direction: column;
  align-items: center; }
  @media (min-width: 37.5em) {
    .loxone-premium__container {
      padding-left: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .loxone-premium__container {
      padding-left: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 75em) {
    .loxone-premium__container {
      padding-left: 2.5rem; } }
  @media (min-width: 37.5em) {
    .loxone-premium__container {
      padding-right: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .loxone-premium__container {
      padding-right: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 75em) {
    .loxone-premium__container {
      padding-right: 2.5rem; } }

.loxone-premium__heading {
  color: #000000; }

.loxone-premium__paragraph {
  color: #000000;
  font-weight: 300;
  max-width: 37.5rem; }

.loxone-premium__link {
  width: 80%;
  max-width: 30rem;
  margin-top: 1.875rem;
  text-decoration: none;
  box-shadow: 0 0.2527173913rem 0.4157608696rem -0.1331521739rem rgba(0, 0, 0, 0.2), 0 0.5rem 0.7663043478rem 0.0570652174rem rgba(0, 0, 0, 0.14), 0 0.2581521739rem 0.9184782609rem 0.1086956522rem rgba(0, 0, 0, 0.12);
  transition: box-shadow 500ms ease; }
  .loxone-premium__link:hover {
    box-shadow: 0 0.4701086957rem 0.6766304348rem -0.285326087rem rgba(0, 0, 0, 0.2), 0 1rem 1.5706521739rem 0.1222826087rem rgba(0, 0, 0, 0.14), 0 0.410326087rem 1.8967391304rem 0.3043478261rem rgba(0, 0, 0, 0.12); }

.loxone-premium__img {
  width: 100%;
  /*width: 80%;*/
  display: block; }

.contacts {
  overflow: hidden;
  position: relative;
  background-image: url(../img/bg_contact.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 5rem 0; }

.contacts__container {
  display: flex;
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(1.7857142857vw + 0.5803571429rem);
  padding-right: calc(1.7857142857vw + 0.5803571429rem);
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  @media (min-width: 37.5em) {
    .contacts__container {
      padding-left: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .contacts__container {
      padding-left: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 75em) {
    .contacts__container {
      padding-left: 2.5rem; } }
  @media (min-width: 37.5em) {
    .contacts__container {
      padding-right: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .contacts__container {
      padding-right: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 75em) {
    .contacts__container {
      padding-right: 2.5rem; } }

.contacts__heading {
  margin-bottom: 1.5em; }

.contacts__form {
  width: 100%;
  outline: none; }

.contacts__map {
  width: 100%;
  height: 70vh;
  max-height: 31.25rem;
  border-top-left-radius: 0.1875rem;
  border-top-right-radius: 0.1875rem;
  border-bottom-left-radius: 0.1875rem;
  border-bottom-right-radius: 0.1875rem; }

.form {
  display: flex;
  justify-content: space-between;
  font-size: calc(0.2272727273vw + 0.9545454545rem);
  margin-bottom: 3.75rem;
  flex-wrap: wrap; }
  @media (min-width: 75em) {
    .form {
      font-size: 1.125rem; } }

.form__col {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 1em; }
  @media (min-width: 56.25em) {
    .form__col {
      align-items: flex-start;
      width: 48%; } }
  .form__col--full {
    width: 100%; }

.form__input {
  width: 100%;
  padding: 1em;
  outline: none;
  color: #20a70c;
  border: none;
  box-shadow: 0 0.1440217391rem 0.285326087rem -0.0570652174rem rgba(0, 0, 0, 0.2), 0 0.25rem 0.3641304348rem 0.0244565217rem rgba(0, 0, 0, 0.14), 0 0.1820652174rem 0.4293478261rem 0.0108695652rem rgba(0, 0, 0, 0.12);
  border-top-left-radius: 0.1875rem;
  border-top-right-radius: 0.1875rem;
  border-bottom-left-radius: 0.1875rem;
  border-bottom-right-radius: 0.1875rem;
  transition: box-shadow 500ms; }
  .form__input:not(:last-child) {
    margin-bottom: 1em; }
  .form__input:focus {
    box-shadow: 0 0.2527173913rem 0.4157608696rem -0.1331521739rem rgba(0, 0, 0, 0.2), 0 0.5rem 0.7663043478rem 0.0570652174rem rgba(0, 0, 0, 0.14), 0 0.2581521739rem 0.9184782609rem 0.1086956522rem rgba(0, 0, 0, 0.12); }

.form__textarea {
  width: 100%;
  padding: 1em;
  resize: none;
  outline: none;
  border: none;
  color: #20a70c;
  box-shadow: 0 0.1440217391rem 0.285326087rem -0.0570652174rem rgba(0, 0, 0, 0.2), 0 0.25rem 0.3641304348rem 0.0244565217rem rgba(0, 0, 0, 0.14), 0 0.1820652174rem 0.4293478261rem 0.0108695652rem rgba(0, 0, 0, 0.12);
  border-top-left-radius: 0.1875rem;
  border-top-right-radius: 0.1875rem;
  border-bottom-left-radius: 0.1875rem;
  border-bottom-right-radius: 0.1875rem;
  transition: box-shadow 500ms;
  height: 12.5rem; }
  @media (min-width: 56.25em) {
    .form__textarea {
      height: 100%; } }
  .form__textarea:focus {
    box-shadow: 0 0.2527173913rem 0.4157608696rem -0.1331521739rem rgba(0, 0, 0, 0.2), 0 0.5rem 0.7663043478rem 0.0570652174rem rgba(0, 0, 0, 0.14), 0 0.2581521739rem 0.9184782609rem 0.1086956522rem rgba(0, 0, 0, 0.12); }

.form__button {
  color: #ffffff;
  font-size: calc(0.4545454545vw + 1.0340909091rem);
  background-color: #57c500;
  border: none;
  outline: none;
  font-weight: 300;
  padding: 0.6em;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 0.2527173913rem 0.4157608696rem -0.1331521739rem rgba(0, 0, 0, 0.2), 0 0.5rem 0.7663043478rem 0.0570652174rem rgba(0, 0, 0, 0.14), 0 0.2581521739rem 0.9184782609rem 0.1086956522rem rgba(0, 0, 0, 0.12);
  transition: box-shadow 500ms;
  align-self: center;
  margin-top: 3.75rem; }
  @media (min-width: 75em) {
    .form__button {
      font-size: 1.375rem; } }
  .form__button:hover {
    box-shadow: 0 0.4701086957rem 0.6766304348rem -0.285326087rem rgba(0, 0, 0, 0.2), 0 1rem 1.5706521739rem 0.1222826087rem rgba(0, 0, 0, 0.14), 0 0.410326087rem 1.8967391304rem 0.3043478261rem rgba(0, 0, 0, 0.12); }

.footer {
  background-color: #1b1e1b;
  padding-bottom: calc(0vw + 3.125rem);
  padding-top: calc(0vw + 3.125rem);
  color: #ffffff; }
  @media (min-width: 75em) {
    .footer {
      padding-bottom: 3.125rem; } }
  @media (min-width: 75em) {
    .footer {
      padding-top: 3.125rem; } }

.footer__container {
  display: flex;
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(1.7857142857vw + 0.5803571429rem);
  padding-right: calc(1.7857142857vw + 0.5803571429rem);
  flex-direction: column;
  align-items: center; }
  @media (min-width: 37.5em) {
    .footer__container {
      padding-left: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .footer__container {
      padding-left: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 75em) {
    .footer__container {
      padding-left: 2.5rem; } }
  @media (min-width: 37.5em) {
    .footer__container {
      padding-right: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .footer__container {
      padding-right: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 75em) {
    .footer__container {
      padding-right: 2.5rem; } }

.footer__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
  flex-wrap: wrap; }

.footer__logo {
  width: 16.25rem;
  height: 5.25625rem;
  margin-bottom: 1.25rem;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 62.5em) {
    .footer__logo {
      margin-left: 0; } }

.footer__col {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
  margin-bottom: 2.5rem; }
  @media (min-width: 62.5em) {
    .footer__col {
      width: 30%; } }
  @media (min-width: 62.5em) {
    .footer__col--push {
      padding-top: 1.25rem; } }

.footer__icons {
  font-size: calc(0vw + 3.125rem);
  display: flex;
  align-items: center;
  margin-bottom: 1em; }
  @media (min-width: 75em) {
    .footer__icons {
      font-size: 3.125rem; } }

.footer__icon {
  height: 1em;
  width: 1em; }
  .footer__icon:not(:last-child) {
    margin-right: 0.5em; }

.footer__map {
  width: 100%;
  height: 100%;
  min-height: 18.75rem; }

.footer__line {
  width: 100%;
  max-width: 31.25rem;
  margin-bottom: 1em;
  text-align: center; }
  @media (min-width: 62.5em) {
    .footer__line {
      text-align: left; } }
  .footer__line a {
    color: #57c500; }

.image {
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 0 0.2527173913rem 0.4157608696rem -0.1331521739rem rgba(0, 0, 0, 0.2), 0 0.5rem 0.7663043478rem 0.0570652174rem rgba(0, 0, 0, 0.14), 0 0.2581521739rem 0.9184782609rem 0.1086956522rem rgba(0, 0, 0, 0.12); }

/*# sourceMappingURL=main.css.map */
