/*@import "material/buttons.scss";*/
@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=latin-ext");
html {
  font-family: "Roboto", Verdana, sans-serif;
  min-height: 100vh;
  font-size: 100%; }

*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #616161; }

.test {
  width: 100%;
  height: 1200px;
  background-color: white; }

.heading {
  font-weight: bold;
  font-style: normal;
  color: #ffffff; }
  .heading--regular {
    font-weight: normal; }
  .heading--italic {
    font-style: italic; }
  .heading--thin {
    font-weight: 300; }
  .heading--center {
    text-align: center; }

.heading--1 {
  font-size: calc(1.13636vw + 2.02273rem);
  margin-top: 0;
  margin-bottom: 0.5em; }
  @media (min-width: 75em) {
    .heading--1 {
      font-size: 2.875rem; } }

.heading--2 {
  font-size: calc(0.68182vw + 1.73864rem);
  margin-top: 0;
  margin-bottom: 0.5em; }
  @media (min-width: 75em) {
    .heading--2 {
      font-size: 2.25rem; } }

.heading--3 {
  font-size: calc(0.68182vw + 1.48864rem);
  margin-top: 0;
  margin-bottom: 0.5em; }
  @media (min-width: 75em) {
    .heading--3 {
      font-size: 2rem; } }

.heading--4 {
  font-size: calc(0.45455vw + 1.28409rem);
  margin-top: 0;
  margin-bottom: 0.5em; }
  @media (min-width: 75em) {
    .heading--4 {
      font-size: 1.625rem; } }

.heading--5 {
  font-size: calc(0.45455vw + 1.03409rem);
  margin-top: 0;
  margin-bottom: 0.5em; }
  @media (min-width: 75em) {
    .heading--5 {
      font-size: 1.375rem; } }

.heading--6 {
  font-size: calc(0.22727vw + 0.95455rem);
  margin-top: 0;
  margin-bottom: 0.5em; }
  @media (min-width: 75em) {
    .heading--6 {
      font-size: 1.125rem; } }

.paragraph {
  font-size: calc(0.45455vw + 1.03409rem);
  display: block;
  line-height: 1.3;
  margin: 0;
  margin-bottom: 1em;
  color: #ffffff; }
  @media (min-width: 75em) {
    .paragraph {
      font-size: 1.375rem; } }
  .paragraph--center {
    text-align: center; }

.ratio-keeper {
  display: block;
  width: 100%; }

.ratio-keeper-v {
  display: block;
  height: 100%; }

.header {
  z-index: 500;
  position: fixed;
  width: 100%;
  height: calc(2.27273vw + 3.29545rem);
  box-shadow: 0 0.08967rem 0.22011rem -0.01902rem rgba(0, 0, 0, 0.2), 0 0.125rem 0.16304rem 0.00815rem rgba(0, 0, 0, 0.14), 0 0.14402rem 0.18478rem -0.03804rem rgba(0, 0, 0, 0.12);
  background-color: #ffffff; }
  @media (min-width: 75em) {
    .header {
      height: 5rem; } }

.header__container {
  display: flex;
  width: 100%;
  max-width: 77.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(3.57143vw - 0.08929rem);
  padding-right: calc(3.57143vw - 0.08929rem);
  height: 100%;
  align-items: center; }
  @media (min-width: 37.5em) {
    .header__container {
      padding-left: calc(3.33333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .header__container {
      padding-left: calc(3.33333vw + 0rem); } }
  @media (min-width: 75em) {
    .header__container {
      padding-left: 2.5rem; } }
  @media (min-width: 37.5em) {
    .header__container {
      padding-right: calc(3.33333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .header__container {
      padding-right: calc(3.33333vw + 0rem); } }
  @media (min-width: 75em) {
    .header__container {
      padding-right: 2.5rem; } }

.header__menu {
  margin-left: auto; }

.logo {
  background-color: black;
  width: calc(11.36364vw + 7.10227rem);
  height: calc(1.98864vw + 2.25852rem); }
  @media (min-width: 75em) {
    .logo {
      width: 15.625rem; } }
  @media (min-width: 75em) {
    .logo {
      height: 3.75rem; } }

.main {
  flex-grow: 1; }

#menu-trigger {
  display: none; }
  #menu-trigger:checked ~ .menu__container {
    transform: translateX(0%); }

.menu__label {
  display: block;
  cursor: pointer;
  margin-left: auto; }
  @media (min-width: 50em) {
    .menu__label {
      display: none; } }

.menu__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  transform: translateX(-100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media (min-width: 50em) {
    .menu__container {
      display: block;
      width: auto;
      height: auto;
      transform: translateX(0);
      position: relative; } }

.menu__container__header {
  display: block;
  display: flex;
  width: 100%;
  max-width: 77.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(3.57143vw - 0.08929rem);
  padding-right: calc(3.57143vw - 0.08929rem);
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(2.27273vw + 3.29545rem); }
  @media (min-width: 37.5em) {
    .menu__container__header {
      padding-left: calc(3.33333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .menu__container__header {
      padding-left: calc(3.33333vw + 0rem); } }
  @media (min-width: 75em) {
    .menu__container__header {
      padding-left: 2.5rem; } }
  @media (min-width: 37.5em) {
    .menu__container__header {
      padding-right: calc(3.33333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .menu__container__header {
      padding-right: calc(3.33333vw + 0rem); } }
  @media (min-width: 75em) {
    .menu__container__header {
      padding-right: 2.5rem; } }
  @media (min-width: 75em) {
    .menu__container__header {
      height: 5rem; } }
  @media (min-width: 50em) {
    .menu__container__header {
      display: none; } }

.menu__item {
  text-decoration: none;
  color: #616161;
  font-size: calc(0.68182vw + 1.48864rem); }
  @media (min-width: 75em) {
    .menu__item {
      font-size: 2rem; } }
  .menu__item:not(:last-of-type) {
    margin-bottom: 1em; }
  @media (min-width: 50em) {
    .menu__item {
      font-size: calc(0.22727vw + 0.95455rem); } }
  @media (min-width: 50em) and (min-width: 75em) {
    .menu__item {
      font-size: 1.125rem; } }
  @media (min-width: 50em) {
      .menu__item:not(:last-of-type) {
        margin-right: 2em; } }
  .menu__item:hover, .menu__item--active {
    color: #20a70c; }

.hamburger {
  display: block;
  width: calc(1.70455vw + 1.84659rem);
  height: calc(1.70455vw + 1.84659rem); }
  @media (min-width: 75em) {
    .hamburger {
      width: 3.125rem; } }
  @media (min-width: 75em) {
    .hamburger {
      height: 3.125rem; } }

.carousel {
  height: 100vh;
  padding-top: calc(2.27273vw + 3.29545rem); }
  @media (min-width: 75em) {
    .carousel {
      padding-top: 5rem; } }

.carousel__container {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url("../img/carousel-s.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% center; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .carousel__container {
      background-image: url("../img/carousel-s@2x.jpg"); } }
  @media (min-width: 37.5em) {
    .carousel__container {
      background-image: url("../img/carousel-m.jpg"); } }
  @media only screen and (min-width: 37.5em) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 37.5em) and (min--moz-device-pixel-ratio: 2), only screen and (min-width: 37.5em) and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-width: 37.5em) and (min-device-pixel-ratio: 2), only screen and (min-width: 37.5em) and (min-resolution: 192dpi), only screen and (min-width: 37.5em) and (min-resolution: 2dppx) {
    .carousel__container {
      background-image: url("../img/carousel-m@2x.jpg"); } }

  @media (min-width: 56.25em) {
    .carousel__container {
      background-image: url("../img/carousel-l.jpg"); } }
  @media (min-width: 75em) {
    .carousel__container {
      background-image: url("../img/carousel-xl.jpg"); } }

.overlay {
  display: flex;
  width: 100%;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  width: 100; }
  .overlay--hide {
    display: none; }
    @media (min-width: 56.25em) {
      .overlay--hide {
        display: flex; } }

.overlay__container {
  display: flex;
  background-color: rgba(32, 167, 12, 0.88);
  margin-left: auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: calc(33.33333vw + 12.5rem);
  padding-left: calc(6.66667vw - 1.25rem);
  padding-right: calc(6.66667vw - 1.25rem);
  height: 100%; }
  @media (min-width: 75em) {
    .overlay__container {
      width: 37.5rem; } }
  @media (min-width: 75em) {
    .overlay__container {
      padding-left: 3.75rem; } }
  @media (min-width: 75em) {
    .overlay__container {
      padding-right: 3.75rem; } }

.overlay__heading {
  width: 100%;
  margin-bottom: 1.875rem; }

.overlay__link {
  color: #ffffff;
  font-size: calc(0.68182vw + 1.48864rem);
  background-color: #57c500;
  font-weight: 300;
  padding: 0.6em;
  text-align: center;
  display: inline-block;
  box-shadow: 0 0.25272rem 0.41576rem -0.13315rem rgba(0, 0, 0, 0.2), 0 0.5rem 0.7663rem 0.05707rem rgba(0, 0, 0, 0.14), 0 0.25815rem 0.91848rem 0.1087rem rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: box-shadow 500ms;
  margin-top: 0.9375rem; }
  @media (min-width: 75em) {
    .overlay__link {
      font-size: 2rem; } }
  .overlay__link:hover {
    box-shadow: 0 0.47011rem 0.67663rem -0.28533rem rgba(0, 0, 0, 0.2), 0 1rem 1.57065rem 0.12228rem rgba(0, 0, 0, 0.14), 0 0.41033rem 1.89674rem 0.30435rem rgba(0, 0, 0, 0.12); }

.advantages {
  background-color: #20a70c;
  padding-top: calc(4.54545vw + 0.34091rem);
  padding-bottom: calc(4.54545vw + 0.34091rem); }
  @media (min-width: 75em) {
    .advantages {
      padding-top: 3.75rem; } }
  @media (min-width: 75em) {
    .advantages {
      padding-bottom: 3.75rem; } }

.advantages__container {
  display: flex;
  width: 100%;
  max-width: 77.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(3.57143vw - 0.08929rem);
  padding-right: calc(3.57143vw - 0.08929rem);
  flex-direction: column;
  align-items: stretch; }
  @media (min-width: 37.5em) {
    .advantages__container {
      padding-left: calc(3.33333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .advantages__container {
      padding-left: calc(3.33333vw + 0rem); } }
  @media (min-width: 75em) {
    .advantages__container {
      padding-left: 2.5rem; } }
  @media (min-width: 37.5em) {
    .advantages__container {
      padding-right: calc(3.33333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .advantages__container {
      padding-right: calc(3.33333vw + 0rem); } }
  @media (min-width: 75em) {
    .advantages__container {
      padding-right: 2.5rem; } }

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.services__item {
  position: relative;
  background-color: #ffffff;
  font-size: calc(0.92857vw + 0.0018rem);
  width: 100%;
  margin-bottom: 1.25rem;
  box-shadow: 0 0.14402rem 0.28533rem -0.05707rem rgba(0, 0, 0, 0.2), 0 0.25rem 0.36413rem 0.02446rem rgba(0, 0, 0, 0.14), 0 0.18207rem 0.42935rem 0.01087rem rgba(0, 0, 0, 0.12);
  transition: box-shadow 500ms, transform 500ms;
  cursor: pointer; }
  @media (min-width: 37.5em) {
    .services__item {
      font-size: calc(0.45343vw + 0.00147rem); } }
  @media (min-width: 56.25em) {
    .services__item {
      font-size: calc(0.3413vw - 0.02398rem); } }
  @media (min-width: 75em) {
    .services__item {
      font-size: 0.23199rem; } }
  .services__item:hover {
    transform: scale(1.05);
    box-shadow: 0 0.25272rem 0.41576rem -0.13315rem rgba(0, 0, 0, 0.2), 0 0.5rem 0.7663rem 0.05707rem rgba(0, 0, 0, 0.14), 0 0.25815rem 0.91848rem 0.1087rem rgba(0, 0, 0, 0.12); }
  @media (min-width: 37.5em) {
    .services__item {
      width: 49%; } }
  @media (min-width: 56.25em) {
    .services__item {
      width: 32%; } }

.services__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; }

.services__container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .services__container--svg {
    width: auto;
    height: 90%; }

.services__heading {
  font-size: 6em;
  margin: 0;
  margin-bottom: 0.2em;
  color: #616161; }

.services__paragraph {
  height: 52%;
  color: #616161;
  font-size: 5em;
  font-weight: 300;
  line-height: 1.4;
  overflow: hidden;
  padding-right: 1em; }

.service {
  z-index: 2000;
  display: none;
  background-color: red;
  position: fixed;
  top: 0;
  left: 0;
  width: 150vw;
  min-height: 100vh;
  background-color: #ffffff; }

.service__container {
  width: 100vw;
  min-height: 300px;
  background-color: green; }

#service_safety:target {
  display: block; }

.svg {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 70%;
  height: 70%; }

/*# sourceMappingURL=main.css.map */
