@import "variables.scss";

.services{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services__item{
    position: relative;
    background-color: $color-secondary;
    @include linear-interpolation-chain(font-size, $services-item-fluid-font);
    width: 100%;
    margin-bottom: rem(20);
    @include material-box-shadow(4);
    transition: box-shadow 500ms, transform 500ms;
    cursor: pointer;
    &:hover{
        transform: scale(1.05);
        @include material-box-shadow(8);
    }

    @include media(m){
        width: 49%;
    }


    @include media(l){
        width: 32%;
    }
}

.services__content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.services__container{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--svg{
        display: block; 
        width: auto; 
        height: 90%;
        width: 56.0005%;
    }
}

.services__heading{
    font-size: 6em;
    margin: 0;
    margin-bottom: 0.3em;
    color: $color-primary;
}

.services__paragraph{
    height: 40%;
    color: $color-primary;
    font-size: 4em;
    font-weight: 300;
    line-height: 1.4;
    overflow: hidden;
    padding-right: 2em;
}