@import "variables.scss";


#advantages:target ~ .service{
    transition-delay: 1000ms, 0s;
}

.service:target{
    transform: translateY(0) translateZ(0);
    opacity: 1;
}

.service__controll{
    display: none;
    &:checked{
        + .service__detail{
            display: flex;
        }
    }
}

.service{
    z-index: z-index(service);
    background-color: red;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: $service-background-color;
    padding-top: rem(80);
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
    transform: translateY(-100%) translateZ(0);
    opacity: 0; 
    transition-property: transform, opacity;
    transition-duration: 0s, 1000ms;
    transition-delay: 0s, 0s;
    @include media(m){
        padding-top: rem(40);
    }
}

.service__scrollarea{
    width: 100%;
    position: static;
}

.service__container{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.service__header{
    @include container;
    flex-direction: column;
    align-items: center;
    padding-bottom: rem(40);
}

.service__back{
    display: block;
    position: fixed;
    top: rem(10);
    width: 90vw;
    padding: 1em 2em;
    font-size: rem(19);
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    background-color: $color-terciary;
    color: $color-secondary;


    @include media(m){
        width: auto;
        left: rem(10);
        padding: 1em 2em;
    }
}

.service__heading{
    width: 100%;
    color: $service-heading-color;
}

.service__paragraph{
    width: 100%;
    max-width: rem(800);
    margin-bottom: 2em; 
    color: $color-primary;
}

.service__menu{
    position: relative;
    z-index: z-index(service-menu);
    display: block;
    width: 100%;
    max-width: rem($layout-container-max-width);
    margin-left: auto;
    margin-right: auto;
    font-size: rem(20);
    height: 4em;
    margin-bottom: -2em;


    &--overflowing{
        padding: 0 2em;
    }

    &--center{
        text-align: center;
    }
}

.service__menu__arrow{
    position: absolute;
    top: rem(8);
    display: block;
    width: rem(15);
    /*height: rem(36);*/

    @at-root .service__menu--center &{
        display: none;
    }

    &--left{
        left: rem(10); 
    }

    &--right{
        right: rem(10); 
    }

    &--disabled{
        &__path{
            fill: $color-primary-light;
        }
    }

    &__path{
        fill: $color-terciary;
    }
}


.service__menu__wrapper{
    width: auto;
    max-width: 100%;
    height: 100%;
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.service__menu__container{
    height: 100%;
    display: inline-flex;
    flex-wrap: nowrap;
    padding: 0 2em;

    @at-root .service__menu--overflowing &{
        padding: 0;
    }

}

.service__menu__label-wrapper{
    width: auto;
}

.service__menu__item{
    width: auto;
    display: inline-flex;
    white-space: nowrap;
    align-items: center;
    cursor: pointer;
    height: 2em;
    transition-property: border-color;
    transition-duration: 300ms;
    color: $service-menu-item-color;
    border-bottom: rem(2) solid transparent;

    &:not(:last-child){
        margin-right: 2em;
    }

    &--active,&:hover{
        border-color: $color-terciary;
    }
}

.service__details{
    position: relative;
    z-index: z-index(service-details);
    display: flex;
    flex-grow: 1;
    width: 100%;
    background-image: url(../img/BG.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    @include linear-interpolation-chain(padding-top, $service-details-vertical-paddings);
    @include linear-interpolation-chain(padding-bottom, $service-details-vertical-paddings);
}

.service__detail{
    @include container;
    display: none;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service__detail__col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;

    @include media(l){
        width: 48%;
    }
}


.service__detail__heading{
    color: $service-detail-heading-color;
}

.service__detail__paragraph{
    color: $service-detail-paragraph-color;
}
