@import "variables.scss";


#advantages:target ~ .service{
    transition-delay: 1000ms, 0s;
}

.service:target{
    transform: translateY(0);
    opacity: 1;
}

.service__controll{
    display: none;
    &:checked{
        + .service__detail{
            display: flex;
        }
    }
}

.service{
    z-index: z-index(service);
    background-color: red;
    position: fixed;
    top: 0;
    left: 0;
    width: 150vw;
    height: 100vh;
    background-color: $service-background-color;
    padding-top: rem(40);
    overflow: auto;
    flex-direction: column;
    transform: translateY(-100%);
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: 0s, 1000ms;
    transition-delay: 0s, 0s;
}

.service__container{
    width: 100vw;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.service__header{
    @include container;
    flex-direction: column;
    align-items: center;
    padding-bottom: rem(40);
}

.service__back{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
}

.service__heading{
    width: 100%;
    color: $service-heading-color;
}

.service__paragraph{
    width: 100%;
    max-width: rem(800);
    text-align: center;
    @include fluid-font(s);

    font-weight: 300;
    margin-bottom: 4.5em; 
}

.service__menu{
    position: relative;
    z-index: z-index(service-menu);
    @include container-pl;
    font-size: rem(22);
    justify-content: flex-start;
    margin-top: -2em;
    margin-bottom: -2em;

    &--center{
        justify-content: center;
    }
}

.service__menu__scrollarrow{
    position: absolute;
    top: 0;
    right: 0;
    height: 2em;
    width: 2em;
    background-color: transparentize($color-secondary,0.3);
    &:after{
        content: ">";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
    }
}

.service__menu__container{
    height: 4em;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.service__menu__item{
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    width: auto;
    cursor: pointer;
    height: 2em;
    padding: 0em 1.2em;


    transition-property: background-color, color;
    transition-duration: 500ms;
    /*padding: .5em 1em;*/

    background-color: $service-menu-item-background-color;
    color: $service-menu-item-color;
    &:not(:last-child){
        margin-right: 1em;
    }

    &--active,&:hover{
        color: $service-menu-item-active-color;
        background-color: $service-menu-item-active-background-color;
    }
}

.service__details{
    position: relative;
    z-index: z-index(service-details);
    display: flex;
    flex-grow: 1;
    width: 100%;
    background-color: $service-details-background-color;
    @include linear-interpolation-chain(padding-top, $service-details-vertical-paddings);
    @include linear-interpolation-chain(padding-bottom, $service-details-vertical-paddings);
}

.service__detail{
    @include container;
    display: none;
    align-items: flex-start;
    justify-content: space-between;
}

.service__detail__col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 48%;
}


.service__detail__heading{
    color: $service-detail-heading-color;
}

.service__detail__paragraph{
    color: $service-detail-paragraph-color;
}
