@import "variables.scss";



#service_safety:target{
    transform: translateY(0);
}

.service__controll{
    display: none;
    &:checked{
        + .service__detail{
            display: flex;
        }
    }
}

.service{
    z-index: z-index(service);
    display: flex;
    background-color: red;
    position: fixed;
    top: 0;
    left: 0;
    width: 150vw;
    height: 100vh;
    padding-right: 50vw;
    background-color: $service-background-color;
    padding-top: rem(40);
    overflow: auto;
    flex-direction: column;
    transform: translateY(-100%);
    transition-property: transform;
    transition-duration: 1000ms;
}

.service__container{
    @include container;
    flex-direction: column;
    align-items: center;
}

.service__back{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
}

.service__heading{
    width: 100%;
    color: $service-heading-color;
}

.service__paragraph{
    width: 100%;
    max-width: rem(800);
    text-align: center;
    @include fluid-font(s);

    font-weight: 300;
    margin-bottom: 4.5em; 
}

.service__menu{
    width: 100%;
    display: flex;
    @include linear-interpolation-chain(font-size,(xl:19,s:12));
    height: 2em;
    overflow: hidden;
    justify-content: flex-start;

    &--center{
        justify-content: center;
    }
}

.service__menu__container{
    height: 4em;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.service__menu__item{
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    width: auto;
    cursor: pointer;
    height: 2em;
    padding: 0em 2em;

    transition-property: background-color, color;
    transition-duration: 500ms;
    /*padding: .5em 1em;*/

    background-color: $service-menu-item-background-color;
    color: $service-menu-item-color;


    &--active,&:hover{
        color: $service-menu-item-active-color;
        background-color: $service-menu-item-active-background-color;
    }
}

.service__details{
    display: flex;
    flex-grow: 1;
    width: 100%;
    background-color: $service-details-background-color;
    @include linear-interpolation-chain(padding-top, $service-details-vertical-paddings);
    @include linear-interpolation-chain(padding-bottom, $service-details-vertical-paddings);
}

.service__detail{
    @include container;
    display: none;
    align-items: flex-start;
    justify-content: space-between;
}

.service__detail__col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 48%;
}


.service__detail__heading{
    color: $service-detail-heading-color;
}

.service__detail__paragraph{
    color: $service-detail-paragraph-color;
}
