$service-background-color: $color-secondary;
$service-heading-color: $color-primary;

$service-paragraph-margins: (
xl: 60,
s: 40
);

$service-menu-item-background-color: $color-terciary;
$service-menu-item-color: $color-primary;
$service-menu-item-active-background-color: $color-primary-light;
$service-menu-item-active-color: $color-primary;

$service-details-background-color: $color-primary-light;

$service-details-vertical-paddings: (
xl: 60,
s: 40

);

$service-detail-heading-color: $color-terciary;
$service-detail-paragraph-color: $color-primary;
