@import "variables.scss";

.hamburger{
    display: block;
    @include linear-interpolation-chain(width,$hamburger-sizes);
    @include linear-interpolation-chain(height,$hamburger-sizes);

    &:hover{
        .hamburger__path{
            fill: $color-terciary;
        }
    }
    &__path{
        fill: $color-primary;
        transition: fill 500ms;
    }
}

