@import "variables.scss";

.overlay{
    @include container-pl;
    z-index: 10;
}

.overlay__container{
    display: flex;
    background-color: transparentize($color-terciary,0.55);
    margin-left: auto;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    @include linear-interpolation-chain(padding-left, $overlay-container-paddings);
    @include linear-interpolation-chain(padding-right, $overlay-container-paddings);
    height: 100%;
    width: 100%;
    text-align: center;

    @include media(l){
        text-align: left;
        @include linear-interpolation-chain(width, (xl: 600, l: 500));
        background-color: transparentize($color-terciary,0.12);
    }
}

.overlay__heading{
    width: 100%;
    margin-bottom: rem(30);


    &--push{
        margin-top: auto;
        @include media(l){
            margin-top: 0;
        }
    }
}

.overlay__link{
    color: $color-secondary;
    @include fluid-font(l);
    background-color: $color-terciary-light;
    font-weight: 300;
    padding: 0.6em;
    text-align: center;
    display: inline-block;
    @include material-box-shadow($overlay-shadow-depth);
    cursor: pointer;
    transition: box-shadow 500ms;
    text-decoration: none;
    margin-top: rem(15);
    align-self: center;
    &:hover{
        @include material-box-shadow(2 * $overlay-shadow-depth);
    }
    &--plain{
        padding: 0;
        margin: 0;
        background-color: transparent;
        box-shadow: none;
        margin-bottom: auto;
        margin-top: rem(20);
        &:hover{
            box-shadow: none;
        }
    }
    @include media(l){
        align-self: stretch;
    }
}

.overlay__arrow{
    width: rem(200);
    align-self: center;
    margin-top: auto;
    animation: float 2s ease-in-out infinite;
    @include media(l){
        margin-top: rem(60);
    }
}

@keyframes float {
    0% {
        transform: translatey(rem(0));
    }
    50% {
        transform: translatey(rem(-20));
    }
    100% {
        transform: translatey(rem(0));
    }
}
