//-----z-indexes--
$z-indexes: (
menu: 1000,
menu-background:10,
menu-container: 20,
menu-container-content:10,
header: 500,
);

$color-primary: $material-color-grey-700;
$color-secondary: $material-color-white;
$color-terciary: $material-color-green-300;