
html{
    font-family: $font-sans-serif;
    min-height: 100vh;
    font-size: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body{ 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: $color-primary;
}

.test{
    width: 100%;
    height: 1200px;
    background-color: white;
}


