.heading{
    font-weight: bold;
    font-style: normal;
    font-family: $font-serif;

    &--regular{
        font-weight: normal;
    }
    &--italic{
        font-style: italic;
        font-weight: normal;
    }
}
@for $i from 1 through 6{
    #{".heading--"+$i}{
        @include heading("h"+$i);
    }
}

