.heading{
    font-weight: bold;
    font-style: normal;
    color: $color-secondary;


    &--regular{
        font-weight: normal;
    }
    &--italic{
        font-style: italic;
    }
    &--thin{
        font-weight: 300;
    }

    &--center{
        text-align: center;
    }
}
@for $i from 1 through 6{
    #{".heading--"+$i}{
        @include heading("h"+$i);
    }
}

.paragraph{
    @include fluid-font(s);
    display: block;
    line-height: 1.5;
    margin: 0;
    margin-bottom: 1em;
    color: $color-secondary;

    &--center{
        text-align: center;
    }
}

.ratio-keeper{
    display: block;
    width: 100%;
}

.ratio-keeper-v{
    display: block;
    height: 100%;
}

